<div class="container">
  <div class="pt-12 container">
    <div class="flex items-center gap-4 pb-6">
      <mat-icon class="cursor-pointer" [routerLink]="['/student/active-exams']"
        >arrow_back</mat-icon
      >
      <div class="flex gap-2">
        <h1 class="text-2xl font-bold">{{ exam.name }}</h1>
        <h1 class="text-2xl font-normal text-gray-500">
          - {{ exam.subjectCode }}
        </h1>
      </div>
    </div>
    <div class="flex text-gray-500 gap-8">
      <div class="">
        <span class="font-medium">Start:</span>
        <span class="">
          {{ exam.startDateTime }}
        </span>
      </div>

      <div class="">
        <span class="font-medium">Remaining time:</span>
        <span class="">
          {{ getRemainingTime(exam) }}
        </span>
      </div>

      <div class="">
        <span class="font-medium">Questions:</span>
        <span class="">
          {{ exam.questions.length }}
        </span>
      </div>
    </div>

    <div>
      <div class="pt-6">
        <h1 class="text-2xl font-bold pb-6">Questions</h1>
        <div class="flex">
          <div *ngFor="let question of exam.questions; index as indexQuestion">
            <div class="w-full border-gray-500">
              <div>
                <p class="font-medium text-base text-gray-500">
                  Question {{ indexQuestion + 1 }}
                </p>
                <h2 class="text-xl font-bold">
                  {{ question.text }}
                </h2>
                <ng-container *ngFor="let alternative of question.alternatives">
                  {{ alternative.id }}
                  {{ alternative.text }}
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
