<div class="flex w-screen h-screen overflow-hidden">
    <div class="w-1/2 h-screen bg-center">
        <img src="../../assets/images/login.png" alt="women using computer" class="">
    </div>
    <div class="flex flex-col justify-center items-center w-1/2 h-screen">
        <div class="max-w-fit">
            <div class="pb-8">
                <h2 class="text-2xl font-bold pb-1">Login</h2>
                <p class="text-md">Por favor insira suas informações abaixo.</p>
            </div>
            <div class="flex flex-col">
                <mat-form-field appearance="fill" class="pb-4">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <input type="password">
                <button mat-flat-button color="primary" class="pt-8">Login</button>
            </div>
        </div>
    </div>
</div>